$main-color: #008cd6;

.blog {
  width: 350px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  color: inherit;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.blog:hover,
.blog:focus,
.blog:active {
  color: $main-color;
  border-color: $main-color;
}

.blog h3 {
  margin: 10px 0px;
  font-size: 20px;
  font-weight: 300;
}

.blog p {
  margin: 5px 0px;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 100;
}
