$main-color: #008CD6;

.link {
  flex-basis: 45%;
  text-align: left;
  color: inherit;
  background-color: #fff;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.link:hover,
.link:focus,
.link:active {
  color: $main-color;
  border-color: $main-color;
}

.link p {
  margin: 0;
  padding: 10px 20px;
  font-size: 1.25rem;
  line-height: 1.5;
}
