@import '../../../styles/variables.scss';

.container {
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin-bottom: 24px;
  }

  a {
    text-decoration: underline;
  }

  img {
    border-radius: $borderRadius;
  }

  pre {
    background-color: #001622;
    border-radius: $borderRadius;
    padding: 16px;
  }
}
