@import '../../../styles/variables.scss';

.wrapper {
  @include mq(md) {
    height: 100vh;
    overflow: hidden;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 4rem;
}

.highlight {
  color: $primary;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.card {
  flex-basis: 45%;
  margin: 15px;
}

.introList {
  margin-top: 40px;
  margin-bottom: 40px;
}

.reshowOpeningBtn {
  position: fixed;
  z-index: 20;
  padding: 10px 15px;
  background-color: $primary;
  color: $onPrimary;
  font-size: 16px;
  text-align: center;
  user-select: none;
  cursor: pointer;

  bottom: 20px;
  right: 20px;
  @include mq(md) {
    bottom: 40px;
    right: 40px;
  }

  border-radius: 10px;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
