.link {
  text-decoration: none;
  position: relative;
  padding: 2px 0px;
  display: inline-block;
  transition: 0.3s;
  color: #000;

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 1px;
    background-color: #000;
    transition: 0.3s;
    transform: translateX(-50%);
  }

  &:hover::after {
    width: 100%;
  }
}
