$main-color: #008cd6;

.sectionTitleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.carrier {
  display: flex;
  font-size: 1rem;

  &Title {
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
  }

  &Description {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
