@import 'variables';

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  pointer-events: none; // スクロール禁止
  background-color: $background;
  z-index: 9999;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.terminal {
  font-family: 'Monaco', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5em;
  padding: 30px;
  width: 100%;
  @include mq(xl) {
    width: 1200px;
  }

  &Cursol {
    height: 30px;
    width: 12px;
    background-color: $onBackground;
    animation: typinganime 0.8s ease infinite;
  }
}

.green {
  color: #00c200;
}

.cyan {
  color: #00c5c7;
}

.magenta {
  color: #bf3fbd;
}

.flexBreak {
  width: 100%;
}

@keyframes typinganime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
