$main-color: #008cd6;

.wrapper {
  background-color: #fff;
  display: block;
  width: max-content;
  overflow: hidden;

  border: 0.5px solid #eaeaea;
  border-radius: 10px;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  &:hover {
    color: $main-color;
    border-color: $main-color;
  }

  transition: border-color 0.5s, color 0.5s;
}

.content {
  width: 100%;
  height: 100%;
}
